.card {
    border-radius: 25px;
    border:0;
    background-color: #010105;
    margin-top: 70px;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  
  .cardHeader {
    color: white;
    text-align: left;
    padding:5px;
    padding-left: 15px;
    margin-top: 1vh;
    width: -moz-available;
    width:-webkit-fill-available;
    border-top-right-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 5px var(--shadow);
  }
  
  .cardBody {
    background-color: #0a0a0c;;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--shadow);
    overflow-wrap: anywhere;
    width: 90%;
    margin-bottom: 9px;
    margin-top: 9px;
  }
  
  .cardMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
  }
  
  .cardMain a {
    margin-top: 10px; /* Add some spacing between the paragraph and the anchor */
  }
  
  .cardAside {
    align-items: flex-end;
    text-align: right;
  }
  
  .cardAsideImage {
    width: 100%;
    height: auto;
    max-height: 100%; /* Limit the height to the container's height */
    object-fit: contain; /* Maintain the aspect ratio and fit inside the square */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
.center{
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    justify-self: center !important;
    align-self: center !important;
}

h2{
  font-size: 35px;
  font-weight: 900;
  font-style: italic;
}