.header {
    background-color: black;
    height: 120px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
  }
  
  .header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 13px;
    background-image: linear-gradient(
      to right,
      rgb(180, 190, 83),
      rgb(213, 224, 113) 30%,
      rgb(224, 231, 159) 50%,
      rgb(213, 224, 113) 70%,
      rgb(180, 190, 83)
    );
    background-size: 100% 100%;
    animation: neonGlow 6s linear infinite;
  }
  
  @keyframes neonGlow {
    0% {
    box-shadow: 0 0 20px rgb(213, 224, 113), 0 0 20px rgb(213, 224, 113), 0 0 20px rgb(213, 224, 113)
    }
    50% {
      box-shadow: 0 0 30px rgb(213, 224, 113), 0 0 30px rgb(213, 224, 113), 0 0 30px rgb(213, 224, 113), 0 0 30px rgb(213, 224, 113);
    }
    100% {
      box-shadow: 0 0 20px rgb(213, 224, 113), 0 0 20px rgb(213, 224, 113), 0 0 20px rgb(213, 224, 113)
    }
  }
  
  li {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
  }
  
  ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
  }
  
  li:hover {
    font-weight: 900;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px rgb(213, 224, 113), 0 0 82px rgb(213, 224, 113), 0 0 92px rgb(213, 224, 113), 0 0 102px rgb(213, 224, 113), 0 0 151px rgb(213, 224, 113);
  }
  
  button {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    height: 100%;
    width: 100%;

  }
  h1{
    margin-left: 15px;
  }

  @-moz-document url-prefix() {
    .header::before {
      animation: none;
      box-shadow: 0 0 20px rgb(213, 224, 113);
    }
  }
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (max-width : 1024px) {
.header{
  padding-left: 18vw;
}
ul{
  flex-direction: column;
}
button {
  text-wrap: nowrap;
  padding:0;
  margin:-10%;
  width:300%;
}
h1{
  margin-left: -20%;
}
}